*{
    margin: 0;
    
}
@media (max-aspect-ratio : 7/10){
    .JoinContainer{
        width: 100%;

    }
    .JoinContainer > img{
        width: 30vw !important;
    }
    .JoinContainer > h1{
        
        font-size: 6vw;
        width: 65vw;
        border-bottom: 0.6vw solid white;
        text-align: center;
        padding: 3vw;
       
    }
    #joininput{
        width: 65vw;
        padding: 4vw;
       
        font-size : 4vw;
        margin: 5vw;
    
    }
    .joinbtn{
        width: 65vw;
        padding: 4vw;
        font-size : 4vw;
    }
    .chatContainer{
        background-color: white;
        height: 100% !important;
        width: 100% !important;
    }
}